mat-toolbar {
  position: relative;
  z-index: 5;
}

.content {
  padding: 24px;
}

.sidenav {
  background-color: white;
  border-radius: 0;
  box-shadow: var(--mat-app-elevation-shadow-level-2);
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}
